@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Tetapkan Roboto sebagai font default untuk seluruh aplikasi */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
}
.hidden {
    display: none;
}
